.home__header {
    background-color: var(--colorAmarillo);
}

.home__header img {
    width: 130px;
    margin: 25px 0 0 25px;
}

.home__header__buscador {
    padding: 15px 0 0 15px;
}

.home__header p {
    font-size: 12px;
    margin: 10px 35px;
}

.home__header__nav {
    display: none;
}

.home__header__nav ul {
    padding: 0;
}

.home__header__nav ul li {
    
    list-style: none;
    font-size: 12px;
}
.home__header__nav ul li a {
    color: black;
    text-decoration: none;
    
}

.menu__burguer {
    text-align: center;
}

.menu__burguer button {
    background-color: var(--colorCeleste);
    border: none;
    width: 35px;
    height: 35px;
    font-size: 20px;
    color: white;
    margin: 18px;
    border-radius: 15%;
}

.home__main {
    background-color: var(--colorGrisClaro); 
    text-align: center;
}

.home__main div img {
    width: 100%;
}

.home__main__section {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}

.home__main__section h3 {
    padding: 15px;
    color: var(--colorGrisOscuro);
}

.home__main__section__article {
    padding-bottom: 20px;
}
.home__main__section :last-child {
    margin: 0;
}


.home__main__section__article img {
    width: 100%;
}

.home__main__section__article div {
    border-top: 1px solid var(--colorGrisClaro);
    padding: 15px;
    background-color: #ffffff;
    text-align: left;
}

.home__main__section__article div i {
    border: 1px solid var(--colorVerde);
    font-size: 15px;
    padding: 10px;
    color: var(--colorVerde);
    border-radius: 50%;
}

.home__main__section__article--precio {
    font-size: 18px;
}

.home__main__section__article--descuento {
    font-size: 16px;
    color: var(--colorVerde);
}

.home__main__section__article h4 {
    display: none;
    font-weight: 400;
    padding-top: 15px;
}

.home__footer {
    color: var(--colorGrisOscuro);
}

.home__footer__section {

    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.home__footer__section h5 {
    font-size: 18px;

}

.home__footer__section i {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--colorCeleste);
}

.home__footer__section p {
    font-size: 12px;
    margin-left: 30px;
    width: 80%;
}

@media (min-width: 768px) {

    .home__header {
        padding-bottom: 15px;
    }

    .home__header img {
        width: 30%;
    }

    .home__header p {
        text-align: center;
}

    .home__header__nav {
        display: block;
        padding-left: 10px;
    }

    .menu__burguer {
        display: none;
    }

    .home__main__section {
    padding-bottom: 20px;
}

    .home__main__section__article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .home__main__section__article h4 {
        display: block;

    }
}

@media(min-width: 1140px) {

}